{% extends "layout.html" %}

{% block body %} 

<div class="jumbotron text-center">
    <h1>Hakkımızda</h1>
    <hr>
    <p>Üniversiteyi bitirecek olan öğrencilerin bitirme projelerini insanların değerlendirmesi ve öğrencilere geri dönüş sağlaması amacıyla kurulmuştur.</p>
    <br>
    <p>Sosyal Medya Hesaplarımız</p>
    <a href="https://facebook.com/HakanDgr4141" >Facebook</a>
    <br>
    <a href="https://instagram.com/hakandegerr">Instagram</a>
    <br>
    <a href="https://youtube.com">Youtube</a>
</div>

{% endblock body %} 