{% extends "layout.html" %}

{% block body %} 

<div class="jumbotron text-center">
    <h2>Projeler Aşağıdadır<h2>
</div>

<div class="jumbotron text-center" class="alert-success">
    {% if projects %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Başlık</th>
            <th scope="col">Yazar</th>
            <th scope="col">Tarih</th>
        </tr>
        </thead>
        <tbody>
            {% for project in projects %} 
            <tr>
                <th scope="row">{{project.id}}</th>
                <td>{{project.title}}</td>
                <td>{{project.author}}</td>
                <td>{{project.created_at}}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
{% else %} 
    <div class="alert alert-danger">Henüz bir projen bulunmuyor.</div>

{% endif %}
</div>

{% endblock body %} 